<div [ngClass]="visible ? 'loginbg' : 'loginbg-xs'"></div>

<div class="outer">
  <div class="middle">
    <div [ngClass]="visible ? 'login-card-container' : 'login-card-container-xs'">
      <mat-card class="login-card">
        <mat-card-title>OnyCoin Login</mat-card-title>
        <mat-card-content>
          <form #loginForm="ngForm" class="login-form">
            <div>
              <mat-form-field>
                <input matInput #username name="userName" required class="login-input" placeholder="E-mail"/>
                <mat-icon class="clear" matSuffix (click)="username.value = ''">clear</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="password" #password name="password" required class="login-input" placeholder="Password">
                <mat-icon class="clear" matSuffix (click)="password.value = ''">clear</mat-icon>
              </mat-form-field>
              <br />
              <button mat-raised-button [disabled]="username.value == '' || password.value == ''" type="submit" class="login-button">Login</button>
              <button mat-raised-button (click)="goToRegister()" class="register-button">Register</button>

            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
